.route {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 15px;

    padding: 5vh 5vw 2vh 5vw;
}

.table {
    display: none;
}

.openTable {
    display: block;
}

.choice {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;

    position: relative;
    width: 500px;
    height: 70px;

    background-color: white;
    border-radius: 15px;
    padding: 1vw;
    border: none;
    box-shadow: 0 0 10px black;
}

button {
    letter-spacing: 0.9px;
    user-select: none;
    font-family: "Comfortaa", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;

    cursor: pointer;
    padding: 10px;
    color: white;
    background-color: rgb(0, 107, 107);
    width: 170px;
    border: none;
    transition: 0.5s;
}

.choice button:hover {
    color: black;
    border-radius: 14px;
    background-color: rgb(93, 223, 180);
}

.selected, p {
    letter-spacing: 0.9px;
    user-select: none;
    font-family: "Comfortaa", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
}

.from {
    display: none;
}

.openStart {
    display: block !important;
    position: absolute;
    left: 33px;
    top: 70%;
    cursor: pointer;
    user-select: none;
    background-color: #f1f1f1;
    box-shadow: 0 0 10px black;
    margin-top: 10px;
    z-index: 1;
}

section {
    overflow-y: scroll;
    height: 145px;
}

.city {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.city:hover {
    background-color: #ddd;
}

.to {
    display: none;
}

.openFinish {
    display: block !important;
    position: absolute;
    left: 245px;
    top: 70%;
    width: 170px;
    cursor: pointer;
    user-select: none;
    background-color: #f1f1f1;
    box-shadow: 0 0 10px black;
    margin-top: 10px;
    z-index: 1;
}

.cities {
    display: block;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
}

.cities:hover {
    background-color: #ddd;
}

.categories {
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 20px;
    width: 250px;
    background-color: white;
    border-radius: 15px;
    padding: 1.5vw;
    border: none;
    box-shadow: 0 0 10px black;
}

.changes {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

input {
    position: relative;
    width: 50px;
    height: 20px;
    -webkit-appearance: none;
    outline: none;
    background: #c6c6c6;
    border-radius: 20px;
    transition: .2s;
    box-shadow: inset 0 0 5px rgba(0,0,0,.2);
}

input:checked {
    background: rgb(69, 167, 134);
}

input:before {
    content: '';
    position: absolute;
    width: 20px;
    height: 20px;
    border-radius: 20px;
    top: 0;
    left: 0;
    background: #fff;
    transition: .2s;
    transform: scale(1.1);
    box-shadow: 0 0 5px black
}

input:checked::before {
    left: 30px;
}