<div class="route">
    <div class="choice">

       <button (click)="dropStart()">Откуда</button>
       <div class="from" [class.openStart]="openStart">
        <section>
                <option class="city" *ngFor="let city of this.routerService.jsonRouter" [class.selected]="city === selectedCity" (click)="getStart(city); dropStart()">
                    {{city.from}}
                </option>
        </section>
       </div>
       <span class="selected">{{ start?.from }}</span>

       <button (click)="dropFinish()">Куда</button>
       <div class="to" [class.openFinish]="openFinish">
        <section>
            <option class="cities" *ngFor="let cities of this.routerService.jsonRouter" (click)="getFinish(cities); dropFinish()">
                {{ cities.from }}
            </option>
        </section>
       </div>
       <span class="selected">{{ finish?.from }}</span>

    </div>

    <app-road [selectedStart]="start" [selectedFinish]="finish"></app-road>
</div>

