.table {
    display: none;
}

.openTable {
    display: block;
    margin-top: 30px;
}

.btn {
    display: flex;
    align-items: center;
    justify-content: center;
}

button {
    letter-spacing: 0.9px;
    user-select: none;
    font-family: "Comfortaa", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;

    cursor: pointer;
    padding: 10px;
    color: white;
    background-color: rgb(0, 107, 107);
    width: 170px;
    border: none;
    transition: 0.4s;
}

button:hover {
    border-radius: 14px;
}

.load-none, .back-load {
    display: none;
}

.load {
    display: block;
    position:absolute;
    top:55%;
    left:50%;
    transform:translate(-50%, -50%);
    width:100px;
    height:100px;
}

.load hr {
    border:0;
    margin:0;
    width:40%;
    height:40%;
    position:absolute;
    border-radius:50%;
    animation:spin 2s ease infinite;
}
  
.load :first-child {
    background:#19A68C;
    animation-delay:-1.5s
}
  .load :nth-child(2){
    background:#006b6b;
    animation-delay:-1s
}
  .load :nth-child(3){
    background:#526ed3;
    animation-delay:-0.5s
}
  .load :last-child{
    background:#193B48
}
  
  @keyframes spin {
    0%,100%{
        transform:translate(0)
    }
    25%{
        transform:translate(160%)
    }
    50%{
        transform:translate(160%, 160%)
    }
    75%{
        transform:translate(0, 160%)
    }
  }