<table>
    <thead>
        <tr>
            <th>Откуда</th>
            <th>Куда</th>
            <th>Цена</th>
            <th>Время</th>
        </tr>
    </thead>
    <tbody *ngFor="let cities of loadRoute">
        <tr>
            <td>{{ cities.from }}</td>
            <td>{{ cities.to }}</td>
            <td>{{ cities.price }} ₽</td>
            <td>{{ cities.time }} ч</td>
        </tr>
    </tbody>
    <tfoot *ngFor="let total of loadTotal">
        <tr>
            <th colspan="1">ВСЕГО</th>
            <td>Пересадок {{ total.totalTran }}</td>
            <td>{{ total.totalP }} ₽</td>
            <td>{{ total.totalT }} ч</td>
        </tr>
    </tfoot>
</table>




