<table>
    <thead>
        <tr>
            <th>Откуда</th>
            <th>Куда</th>
            <th>Цена</th>
            <th>Время</th>
        </tr>
    </thead>
    <tbody *ngFor="let cities of this.routerService.jsonRouter">
        <tr>
            <td>{{ cities.from }}</td>
            <ng-container *ngFor="let routes of cities.travel">
                <td>{{ routes.to }}</td>
                <td>{{ routes.price }}</td>
                <td>{{ routes.time }}</td>
            </ng-container>
        </tr>
    </tbody>
</table>

