table {
    width: 900px;
}

@media (max-width: 1024px) {
    table {
        width: 600px;
    }
}

@media (max-width: 768px) {
    table {
        width: 400px;
    }
}

// @media (max-width: 425px) {
//     table {
//         width: 200px;
//     }
// }

// @media (max-width: 375px) {
//     table {
//         width: 80px;
//     }
// }

th {
    color: #1b1f3b;
    letter-spacing: 0.9px;
    user-select: none;
    font-family: "Comfortaa", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
    text-align: center;

    padding: 10px 5px 10px 5px;
}

td {
    color: white;
    letter-spacing: 0.9px;
    user-select: none;
    font-family: "Comfortaa", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    text-align: center;
    // line-height: 25px;
    white-space: nowrap;

    padding: 10px 5px 10px 5px;
}

tbody tr:nth-child(odd) {
    background-color:  #526ed3;
}

tfoot th {
    color: white;
    letter-spacing: 0.9px;
    user-select: none;
    font-family: "Comfortaa", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    text-align: center;
    // line-height: 25px;
    white-space: nowrap;

    padding: 10px 5px 10px 5px;
}

tfoot tr:nth-child(odd) {
    background-color: rgb(0, 107, 107);
}