<table>
    <thead>
        <tr>
            <th>Откуда</th>
            <th>Куда</th>
            <th>Цена</th>
            <th>Время</th>
        </tr>
    </thead>
    <tbody *ngFor="let cities of loadRoute">
        <tr>
            <td>{{ cities.from }}</td>
            <!-- <ng-container *ngFor="let routes of cities.travel"> -->
                <td>{{ cities.to }}</td>
                <td>{{ cities.price }} ₽</td>
                <td>{{ cities.time }} ч</td>
            <!-- </ng-container> -->
        </tr>
    </tbody>
</table>

